<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}

{{.Fall.Term}} {{.AcaYear}} <br>
{{range .Fall.Courses}}
{{.Number}} - {{.Name}} - {{.Units}}<br>
{{end}}
<br>
{{.Spring.Term}} {{.AcaYear}}<br>
{{range .Spring.Courses}}
{{.Number}} - {{.Name}} - {{.Units}}<br>
{{end}}
<br>
{{end}}
<!-- PUT YOUR CODE HERE TO SHOW THE DATA
-->

</body>
</html>