<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>


{{range .}}
    {{.Name}}<br>
    {{range .Menu}}
            {{.Meal}} <br>
            {{range .Item}}
               {{.Name}} {{.Descrip}} {{.Price}}<br>
            {{end}}
    {{end}}    
{{end}}

<!-- PUT YOUR CODE HERE TO SHOW THE DATA
-->

</body>
</html>